@using VillageGame.Models
@using VillageGame.Controllers
@{
    VillageGameEntities2 db = new VillageGameEntities2();
    int days = (int)db.GameDatas.Find(1).Days;
    int actions = (int)db.GameDatas.Find(1).Actions;
    int villagerCount = (int)db.Villagers.ToList().Count;
    List<Villager> villagers = new List<Villager>();
    int houses = (int)db.Buildings.Find(1).Houses;
    int wells = (int)db.Buildings.Find(1).Wells;
    int farms = (int)db.Buildings.Find(1).Farms;
    int food = (int)db.Resources.Find(1).Food;
    int water = (int)db.Resources.Find(1).Water;
    int wood = (int)db.Resources.Find(1).Wood;
    int castles = (int)db.Buildings.Find(1).Castles;
    bool thereAreVillagers = villagerCount > 0;
}
<h1>Welcome to the Village Game!</h1>

@Session["ActionMessage"]
<table id="gameTable">
    <tr>
        <td class="myLabel">
            <p>Day: </p>
        </td>
        <td class="myLabel">
            <p>@days</p>
        </td>
        <td class="myButtons">
            @{
                if (thereAreVillagers)
                {
                    <form action="~/Home/NextDay">
                        <input type="submit" value="Next Day" />
                    </form>
                }
            }
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Actions:</p>
        </td>
        <td class="myLabel">
            @actions
        </td>
        <td class="myButtons"></td>
        <td></td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Villagers:</p>
        </td>
        <td class="myLabel">
            @villagerCount
        </td>
        <td class="myButtons">
            @{
                if (villagerCount < houses)
                {
                    <form action="~/Home/CreateVillager">
                        <input type="submit" />
                    </form>
                }
                else
                {
                    <p>Need more Houses</p>
                }
            }
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Houses:</p>
        </td>
        <td class="myLabel">
            <p id="houses">@houses</p>
        </td>
        <td class="myButtons">
            <form action="~/Home/BuildAction">
                <input name="type" value="house" class="hidden" />
                <input type="submit" id="houseSubmit" value="Build" />
                <p>(5 wood)</p>
            </form>
        </td>
        <td>
            <p id="houseError"></p>
        </td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Wells:</p>
        </td>
        <td class="myLabel">
            <p id="wells">@wells</p>
        </td>
        <td class="myButtons">
            <form action="~/Home/BuildAction">
                <input name="type" value="well" class="hidden" />
                <input type="submit" id="wellSubmit" value="Build" />
                <p>(6 wood)</p>
            </form>
        </td>
        <td>
            <p id="wellError"></p>
        </td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Farms:</p>
        </td>
        <td class="myLabel">
            <p id="farms">@farms</p>
        </td>
        <td class="myButtons">
            <form action="~/Home/BuildAction">
                <input name="type" value="farm" class="hidden" />
                <input type="submit" id="farmSubmit" value="Build" />
                <p>(8 wood)</p>
            </form>
        </td>
        <td>
            <p id="farmError"></p>
        </td>
    </tr>
    @*<tr>
        <td class="myLabel">
            <p>Castles:</p>
        </td>
        <td class="myLabel">
            <p id="castles">@castles</p>
        </td>
        <td class="myButtons">
            <form action="~/Home/BuildAction">
                <input name="type" value="farm" class="hidden" />
                <input type="submit" id="farmSubmit" value="Build" />
                <p>(8 wood)</p>
            </form>
        </td>
        <td>
            <p id="castleError"></p>
        </td>
    </tr>*@
    <tr>
        <td class="myLabel">
            <p>Food</p>
        </td>
        <td class="myLabel">
            <p id="food">@food</p>
        </td>
        <td class="myButtons">
            @*-------------------------------prolly gonna change this--------------------------------
                <p>@Html.ActionLink("Gather Food", "ResourceAction", new { name = "" })</p>*@
            @{
                if (actions > 0)
                {
                    <form action="~/Home/ResourceAction">
                        <input name="type" value="food" class="hidden" />
                        <input id="water" type="submit" value="Gather Food" />
                    </form>
                }
                else
                {
                    <p>out of actions</p>
                }
            }
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Water:</p>
        </td>
        <td class="myLabel">
            <p>@water</p>
        </td>
        <td class="myButtons">
            @{
                if (actions > 0)
                {
                    <form action="~/Home/ResourceAction">
                        <input name="type" value="water" class="hidden" />
                        <input id="water" type="submit" value="Gather Water" />
                    </form>
                }
                else
                {
                    <p>out of actions</p>
                }
            }
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="myLabel">
            <p>Wood:</p>
        </td>
        <td class="myLabel">
            <p id="wood">@wood</p>
        </td>
        <td class="myButtons">
            @{
                if (actions > 0)
                {
                    <form action="~/Home/ResourceAction">
                        <input name="type" value="wood" class="hidden" />
                        <input id="wood" type="submit" value="Gather Wood" />
                    </form>
                }
                else
                {
                    <p>out of actions</p>
                }
            }
        </td>
        <td></td>
    </tr>

</table>
<br />
<form action="~/Home/YouSure">
    <input name="type" value="NewGame" class="hidden" />
    <input type="submit" value="New Game" />
</form>
<script src="~/Scripts/javascript.js"></script>